<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruoyi.mapper.TaskFileMapper">

    <resultMap type="TaskFile" id="TaskFileResult">
        <id     property="id"         column="id"/>
        <result property="taskId"     column="task_id"/>
        <result property="fileName"   column="file_name"/>
        <result property="filePath"   column="file_path"/>
        <result property="fileSize"   column="file_size"/>
    </resultMap>

    <!-- 查询列表 -->
    <select id="selectTaskFileList" parameterType="TaskFile" resultMap="TaskFileResult">
        select id, task_id, file_name, file_path, file_size
        from task_file
        <where>
            <if test="taskId != null"> and task_id = #{taskId}</if>
        </where>
    </select>

    <!-- 根据ID查询 -->
    <select id="selectTaskFileById" parameterType="Long" resultMap="TaskFileResult">
        select id, task_id, file_name, file_path, file_size
        from task_file
        where id = #{id}
    </select>

    <!-- 新增 -->
    <insert id="insertTaskFile" parameterType="TaskFile">
        insert into task_file (task_id, file_name, file_path, file_size)
        values (#{taskId}, #{fileName}, #{filePath}, #{fileSize})
    </insert>

    <!-- 修改 -->
    <update id="updateTaskFile" parameterType="TaskFile">
        update task_file
        <set>
            <if test="taskId != null">task_id = #{taskId},</if>
            <if test="fileName != null">file_name = #{fileName},</if>
            <if test="filePath != null">file_path = #{filePath},</if>
            <if test="fileSize != null">file_size = #{fileSize}</if>
        </set>
        where id = #{id}
    </update>

    <!-- 删除 -->
    <delete id="deleteTaskFile" parameterType="Long">
        delete from task_file where id = #{id}
    </delete>

</mapper>
